<h3>Edit <%= @product.name %></h3>

<%= render "form.html", changeset: @changeset,
                        action: products_path(@conn, :update, @product) %>

<%= link "Back", to: products_path(@conn, :index) %>
